
.form-container{
    margin: 50px;
    width: 75%;
    padding: 10px 50px 10px 20px;
}

.form-container .btn-primary{
    margin-left: 15px;
}

.notification{
    width: 60%;
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 10;
}

.form-icons{
    font-size: 32px;
    color: #329A2D;
}

.people-btn{
    background-color: #329A2D !important;
}

.people-btn:hover, .people-btn:focus, .people-btn:active, .people-btn:active:hover, .people-btn:active:focus{
    background: #329A2D;
}