.profile-container{
    padding: 20px 0;
    background: white;
}

.data-attribute-holder{
    padding: 15px 20px;
    margin: 10px;
    height: 100px;
}

.profile-picture-holder{
    margin-left: 20px;
    border-radius: 25px;
}

.data-attribute-holder>h4{
    color: #329A2D;
    font-weight: 500;
    font-size: 20px;
}
.data-attribute-holder>span{
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

.name-holder{
    height: 200px;
    margin-top: 25px;
    color: #329a2d;
}

.section-header{
    margin-left: 30px;
    color: #329a2d;
}

.social-media-links{
    display: inline;
    margin-left: 40px;
}

.social-media-links>a{
    color: #329a2d;
    font-size: 50px;
    margin: 5px;
    top: 94px;
    position: relative;
}

.unmerged{
    color: #086cb7;
}

.unmerged:hover{
    cursor: pointer;
}

.collapse span, .collapsing span{
    display: block;
    font-size: 18px;
    line-height: 1.5;
    color: #086cb7;
    font-weight: 500;
}


.connection-graph{
    height: 600px;
    text-align: center;
}

.connection{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 10px 5px 0 rgba(73, 248, 80, 0.56);
    border: 4px #329A2D solid;
}

.center-circle{
    transform: translate3d(270px,220px,0);
}

.north-circle{
    transform: translate3d(170px,20px,0);
}

.north-east-circle{
    transform: translate3d(245px,120px,0);
}

.east-circle{
    transform: translate3d(320px,220px,0);
}

.east-south-circle{
    transform: translate3d(50px,320px,0);
}

.south-circle{
    transform: translate3d(-240px,420px,0);
}

.south-west-circle{
    transform: translate3d(-540px,320px,0);
}

.west-circle{
    transform: translate3d(-800px,225px,0);
}

.west-north-circle{
    transform: translate3d(-750px,120px,0);
}

.connection-lines{
    height: 500px;
    width: 100%;
}