<div class="container profile-container">

    <div class="col-md-6 text-left">
        <img class="profile-picture-holder" [src]="profile['profiles'][0]['socialMedia']['facebook']['profile_picture']" alt="" width="200" height="200">
        <div class="social-media-links">
            <a [href]="profile['profiles'][0]['socialMedia']['facebook']['facebook']"><span class="fa fa-facebook-square"></span></a>
            <a [href]="profile['profiles'][0]['socialMedia']['linkedIn']['linkedin']"><span class="fa fa-linkedin-square"></span></a>
        </div>
    </div>
    <div class="col-md-6 text-left name-holder">
        <h2>{{profile["Aggregated Names"][0]}}</h2>
        <div data-toggle="collapse" data-target="#unmerged-names" class="unmerged"><i class="material-icons">add_box</i></div>
        <p id="unmerged-names" class="collapse">
                <span>{{profile["profiles"][0]["government"]["NIC data"]["Name"]}}</span>
                <span>{{profile['profiles'][0]['socialMedia']['facebook']["name"]}}</span>
                <span>{{profile['profiles'][0]['socialMedia']['linkedIn']["name"]}}</span>
        </p>
    </div>
    <!--personal profile-->
    <h2 class="section-header">
        <span class="fa fa-user"></span>
        &nbsp;&nbsp;Personal Profile
    </h2>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="data-attribute-holder">
                <h4>Civil Status</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["Civil Status"]}}</span>
            </div>
            <div class="data-attribute-holder">
                <h4>Date Of Birth</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["Date Of birth"]}}</span>
            </div>
            <div class="data-attribute-holder">
                <h4>District</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["District"]}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="data-attribute-holder">
                <h4>NIC</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["ID"]}}</span>
            </div>
            <div class="data-attribute-holder">
                <h4>Place Of Birth</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["place of birth"]}}</span>
            </div>
            <div class="data-attribute-holder">
                <h4>E-mail</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["E-mail"]}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="data-attribute-holder">
                <h4>Address</h4>
                <span>No {{profile["profiles"][0]["government"]["NIC data"]["Number of the house"]}},{{profile["profiles"][0]["government"]["NIC data"]["village or city"]}},{{profile["profiles"][0]["government"]["NIC data"]["District"]}}</span>
            </div>
            <div class="data-attribute-holder">
                <h4>Telephone</h4>
                <span>{{profile["profiles"][0]["government"]["NIC data"]["telephone"]}}</span>
            </div>
        </div>
    </div>

    <div class="col-md-12">

    </div>

    <div class="col-md-6">
        <!--school life-->
        <h2 class="section-header">
            <span class="fa fa-book"></span>
            &nbsp;&nbsp;School Life
        </h2>
        <div class="data-attribute-holder">
            <span *ngFor="let school of profile['Aggregated Education']">{{school}}</span>
        </div>
        <div data-toggle="collapse" data-target="#unmerged-education" class="unmerged" style="margin-left: 30px; margin-top: -20px"><i class="material-icons">add_box</i></div>
        <p id="unmerged-education" class="collapse" style="margin-left: 30px">
            <span *ngFor="let education of profile['profiles'][0]['socialMedia']['facebook']['education']">{{education.school}}</span>
            <span *ngFor="let education of profile['profiles'][0]['socialMedia']['linkedIn']['education']">{{education.school}}</span>
        </p>
    </div>
    <div class="col-md-6">
        <!--professional career-->
        <h2 class="section-header">
            <span class="fa fa-book"></span>
            &nbsp;&nbsp;Professional Career
        </h2>
        <div class="data-attribute-holder">
            <span *ngFor="let company of profile['Aggregated Work']">{{company}}</span>
        </div>
        <div data-toggle="collapse" data-target="#unmerged-work" class="unmerged" style="margin-left: 30px; margin-top: -20px"><i class="material-icons">add_box</i></div>
        <p id="unmerged-work" class="collapse" style="margin-left: 30px" >
            <span *ngFor="let work of profile['profiles'][0]['socialMedia']['facebook']['work']">{{work.work}}</span>
            <span *ngIf="profile['profiles'][0] && profile['profiles'][0]['socialMedia'] && profile['profiles'][0]['socialMedia']['linkedIn'] && profile['profiles'][0]['socialMedia']['linkedIn']['work']">
                <span *ngFor="let work of profile['profiles'][0]['socialMedia']['linkedIn']['work']">{{work.work}}</span>
            </span>
        </p>
    </div>
    <!--languages-->
    <div class="col-md-12">
        <h2 class="section-header">
            <span class="fa fa-language"></span>
            &nbsp;&nbsp;Languages
        </h2>
        <div class="data-attribute-holder">
            <span *ngFor="let language of profile['profiles'][0]['socialMedia']['linkedIn']['languages']">{{language}}</span>
        </div>
    </div>
</div>
